@{
    var currentRoute = ViewContext.RouteData.Values["Action"]?.ToString();
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link @(currentRoute is "Index" ? "active" : "")" id="dashboard" asp-controller="Admin" asp-action="Index">
            Dashboard
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(currentRoute is "Roles" or "NewRole" or "EditRole" or "DeleteRole" ? "active" : "")" id="roles" asp-controller="Admin" asp-action="Roles">
            Roles
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(currentRoute is "Users" or "EditUser" ? "active" : "")" asp-controller="Admin" asp-action="Users">
            Users
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(currentRoute is "Categories" or "NewCategory" or "EditCategory" or "DeleteCategory" ? "active" : "")" asp-controller="Admin" asp-action="Categories">
            Categories
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(currentRoute is "Deleted Threads"? "active" : "")" asp-controller="Admin" asp-action="ViewAllSoftDeletedThreads">
            Deleted threads
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(currentRoute is "Deleted Posts"? "active" : "")" asp-controller="Admin" asp-action="ViewAllSoftDeletedPosts">
            Deleted posts
        </a>
    </li>

</ul>