@using Microsoft.AspNetCore.Identity
@using Westwind.AspNetCore.Markdown
@using System.Text.RegularExpressions
@inject UserManager<ApplicationUser> UserManager

@model ForumPost

@{
    var user = UserManager.Users.FirstOrDefault(u => u.Id == Model.CreatorId);
    
    // Convert markdown to html
    var content = Markdown.Parse(Model.Content, sanitizeHtml: true);
    
    // Remove html tags
    content = Regex.Replace(content, "<.*?>", string.Empty);
}

<div class="d-flex">
    <a asp-controller="Profile" asp-action="Index" asp-route-displayName="@user.DisplayName">
        <img src="~/avatars/@user!.Avatar" alt="@user.DisplayName" height="48" width="48" class="me-2 rounded"/>
    </a>
    <div>
        <div class="d-block">
            <a asp-controller="ForumPost" asp-action="ForumPostView" asp-route-forumThreadId="@Model.ThreadId.ToString()">
                @if (Model.Thread!.Title.Length > 30)
                {
                    @Model.Thread!.Title.Substring(0, 30)<span>...</span>
                }
                else
                {
                    @Model.Thread!.Title
                }
            </a>
        </div>
        <div class="d-block" style="font-size: 14px;">
            @if (content.Length == 1)
            {
                <span class="fst-italic">No content to display.</span>
            }
            else if (content.Length > 30)
            {
                @content.Substring(0, 30)<span>...</span>
            }
            else
            {
                @content
            }
        </div>
        <div class="d-block" style="font-size: 12px;">
            <span class="me-1">
                <a class="text-muted" asp-controller="Profile" asp-action="Index" asp-route-displayName="@user.DisplayName">@user.DisplayName</a>
            </span>
            <span class="text-muted">
                @Model.CreatedAt.ToString("g")
            </span>
        </div>
    </div>
</div>