@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

@model ForumPost

@{
    var user = UserManager.Users.FirstOrDefault(u => u.Id == Model.CreatorId);
}

<div class="d-flex">
    <a asp-controller="Profile" asp-action="Index" asp-route-displayName="@user.DisplayName">
        <img src="~/avatars/@user!.Avatar" alt="@user.DisplayName" height="48" width="48" class="me-2 rounded"/>
    </a>
    <div>
        <div class="d-block">
            <a asp-controller="ForumPost" asp-action="ForumPostView" asp-route-forumThreadId="@Model.ThreadId.ToString()">@Model.Thread!.Title</a>
        </div>
        <div class="d-block" style="font-size: 14px;">
            @if (Model.Content.Length >= 20)
            {
                @Model.Content.Substring(0, 20)
            }
            else
            {
                @Model.Content
            }
        </div>
        <div class="d-block" style="font-size: 12px;">
            <span class="me-1">
                <a class="text-muted" asp-controller="Profile" asp-action="Index" asp-route-displayName="@user.DisplayName">@user.DisplayName</a>
            </span>
            <span class="text-muted">
                @Model.CreatedAt.ToString("g")
            </span>
        </div>
    </div>
</div>