@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@model ForumPost
@{
    ViewData["Title"] = "Delete Post";
}

<h1 class="h2 fw-normal">@ViewData["Title"]</h1>

<dl class="row">
    <dt class="col-sm-2">Thread</dt>
    <dd class="col-sm-10">@Model.Thread.Title</dd>
    
    <dt class="col-sm-2">Created by</dt>
    <dd class="col-sm-10">@UserManager.FindByIdAsync(Model.CreatorId).Result.DisplayName</dd>
        
    <dt class="col-sm-2">Posted at</dt>
    <dd class="col-sm-10">@Model.CreatedAt.ToString("g")</dd>
    
    <dt class="col-sm-2">Content</dt>
    <dd class="col-sm-10">@Model.Content</dd>
    
    <div class="d-flex gap-2">
        @* Hard delete only visible to Admins and Mods *@
        @if (User.IsInRole("Administrator") || User.IsInRole("Moderator"))
        {
            <form asp-controller="ForumPost" asp-action="PermaDeleteSelectedForumPostConfirmed" asp-route-forumPostId="@Model.Id.ToString()" method="post">
                <button type="submit" class="btn btn-sm btn-danger">Delete Permanently</button>
            </form>
            }
        <form asp-controller="ForumPost" asp-action="SoftDeleteSelectedForumPostContent" asp-route-forumPostId="@Model.Id.ToString()" method="post">
            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
        </form>
        <a asp-controller="ForumPost" asp-action="ForumPostView" asp-route-forumThreadId="@Model.ThreadId.ToString()" class="btn btn-sm btn-dark">Cancel</a>
    </div>
</dl>