﻿@using Microsoft.AspNetCore.Server.Kestrel.Core
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@model ForumPostViewModel

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<h1>Current thread: @Model.CurrentForumThread.ForumThreadTitle</h1>
    @if (UserManager.GetUserAsync(User).Result != null)
    {
        @if (User.IsInRole("Administrator") || (User.IsInRole("Moderator") || UserManager.GetUserAsync(User).Result.Id == Model.CurrentForumThread.ForumThreadCreatorId))
        {
            <a asp-controller="ForumThread" asp-action="DeleteSelectedForumThread" asp-route-forumThreadId="@Model.CurrentForumThread.ForumThreadId">DELETE</a>
            <a asp-controller="ForumThread" asp-action="UpdateForumThreadTitle" asp-route-forumThreadId="@Model.CurrentForumThread.ForumThreadId">EDIT</a>
        } 
    }

<a asp-controller="ForumPost" asp-action="CreateNewForumPost" asp-route-forumThreadId="@Model.CurrentForumThread.ForumThreadId">CREATE</a>

@{ var i = 0;}
@foreach(var post in Model.ForumPosts)
    {
        i++;
        <h2>This is post nr @i</h2>
        <partial name="_ForumPostCard" model="post"/>
    }
    
<button id="createNewForumPostButton" data-ajax="true">Create new forum post</button>

<script>
    $(document).ready(function () {
        $("#createNewForumPostButton").click(function () {
            // Make an Ajax call to render the partial view.
            $.ajax({
                url: "/ForumPost/Create/@Model.CurrentForumThread.ForumThreadId",
                success: function (html) {
                    // Update the page with the HTML of the partial view.
                    $("#createNewForumPost").html(html);
                }
            });
            document.getElementById('createNewForumPostButton').hidden = true;
        });
    });
</script>

<script>
$("#cancelButton").click(
   $("createNewForumPost").empty);
</script>
<div id="createNewForumPost"></div>