@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@model ForumPostViewModel
@{
    ViewData["Title"] = Model.CurrentForumThread.Title;
    var currentThreadCreator = UserManager.FindByIdAsync(Model.CurrentForumThread.CreatorId).Result;
}

<div class="d-flex gap-2 align-items-center">
    @if (Model.CurrentForumThread.IsPinned)
    {
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pin-angle-fill text-secondary" viewBox="0 0 16 16">
            <path d="M9.828.722a.5.5 0 0 1 .354.146l4.95 4.95a.5.5 0 0 1 0 .707c-.48.48-1.072.588-1.503.588-.177 0-.335-.018-.46-.039l-3.134 3.134a5.927 5.927 0 0 1 .16 1.013c.046.702-.032 1.687-.72 2.375a.5.5 0 0 1-.707 0l-2.829-2.828-3.182 3.182c-.195.195-1.219.902-1.414.707-.195-.195.512-1.22.707-1.414l3.182-3.182-2.828-2.829a.5.5 0 0 1 0-.707c.688-.688 1.673-.767 2.375-.72a5.922 5.922 0 0 1 1.013.16l3.134-3.133a2.772 2.772 0 0 1-.04-.461c0-.43.108-1.022.589-1.503a.5.5 0 0 1 .353-.146z"/>
        </svg>
    }
    @if (Model.CurrentForumThread.IsLocked)
    {
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-lock-fill text-secondary" viewBox="0 0 16 16">
            <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
        </svg>
    }
    <h1 class="h2 fw-normal">@Model.CurrentForumThread.Title</h1>
</div>
<div class="d-flex flex-column flex-md-row gap-2 align-items-md-center justify-content-md-between">
    <div class="d-inline-flex gap-2" style="font-size:14px;">
        <div class="d-flex gap-2 align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
            </svg>
            <a class="link-dark text-decoration-none" asp-controller="Profile" asp-action="Index" asp-route-displayName="@currentThreadCreator.DisplayName">
                @currentThreadCreator.DisplayName
            </a>
        </div>
        <div class="d-flex gap-2 align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
            </svg>
            @Model.CurrentForumThread.CreatedAt.ToString("g")
        </div>
    </div>

    @if (SignInManager.IsSignedIn(User))
    {
        @if (User.IsInRole("Administrator") || (User.IsInRole("Moderator") || UserManager.GetUserAsync(User).Result.Id == Model.CurrentForumThread.CreatorId))
        {
            <div>
                <a class="btn btn-sm btn-dark" asp-controller="ForumThread" asp-action="UpdateForumThreadTitle" asp-route-forumThreadId="@Model.CurrentForumThread.Id.ToString()">
                    Edit Thread
                </a>
                <a class="btn btn-sm btn-danger" asp-controller="ForumThread" asp-action="DeleteSelectedForumThread" asp-route-forumThreadId="@Model.CurrentForumThread.Id.ToString()">
                    Delete Thread
                </a>
                @if (User.IsInRole("Administrator") || User.IsInRole("Moderator"))
                {
                    var pinIcon = Model.CurrentForumThread.IsPinned ? "Unpin" : "Pin";
                    var lockIcon = Model.CurrentForumThread.IsLocked ? "Unlock" : "Lock";
                    <form class="d-inline" asp-controller="ForumThread" asp-action="TogglePinSelectedForumThread" asp-route-forumThreadId="@Model.CurrentForumThread.Id.ToString()">
                        <button class="btn btn-sm btn-dark">@pinIcon</button>
                    </form>
                    <form class="d-inline" asp-controller="ForumThread" asp-action="ToggleLockSelectedForumThread" asp-route-forumThreadId="@Model.CurrentForumThread.Id.ToString()">
                        <button class="btn btn-sm btn-dark">@lockIcon</button>
                    </form>
                }
            </div>
        }
    }
</div>

<hr />

@foreach(var post in Model.ForumPosts)
{
    <partial name="_ForumPostCard" model="post"/>
}

<div class="d-block d-md-flex align-items-center justify-content-between mb-2">
    @if (Model.TotalPages > 1)
    {
        <nav>
            <ul class="pagination pagination-sm mb-0">
                @if (Model.CurrentPage != 1)
                {
                    <li class="page-item">
                        <a asp-controller="ForumPost" asp-action="ForumPostView" asp-route-forumThreadId="@Model.CurrentForumThread.Id" asp-route-page="@(Model.CurrentPage - 1)" class="page-link">Previous</a>
                    </li>
                }
                else
                {
                    <li class="page-item disabled">
                        <a class="page-link">Previous</a>
                    </li>
                }
                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    if (i == Model.CurrentPage)
                    {
                        <li class="page-item active"><a class="page-link">@i.ToString()</a></li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a asp-controller="ForumPost" asp-action="ForumPostView" asp-route-forumThreadId="@Model.CurrentForumThread.Id" asp-route-page="@i" class="page-link">@i.ToString()</a>
                        </li>
                    }
                }
                @if (Model.CurrentPage != Model.TotalPages)
                {
                    <li class="page-item">
                        <a asp-controller="ForumPost" asp-action="ForumPostView" asp-route-forumThreadId="@Model.CurrentForumThread.Id" asp-route-page="@(Model.CurrentPage + 1)" class="page-link">Next</a>
                    </li>
                }
                else
                {
                    <li class="page-item disabled">
                        <a class="page-link">Next</a>
                    </li>
                }
            </ul>
        </nav>
    }
        
    @if (SignInManager.IsSignedIn(User) && !Model.CurrentForumThread.IsLocked)
    {
        <button class="btn btn-sm btn-primary ms-auto" id="createNewForumPostButton" data-ajax="true">New Post</button>
    }
</div>

@if (SignInManager.IsSignedIn(User) && !Model.CurrentForumThread.IsLocked)
{
    <div id="createNewForumPost"></div>

    <script src="~/lib/easymde/easymde.min.js"></script>
    <script>
        $("#cancelButton").click($("createNewForumPost").empty);
        
        $(document).ready(function () {
            $("#createNewForumPostButton").click(function () {
                // Make an Ajax call to render the partial view.
                $.ajax({
                    url: "/ForumPost/Create/@Model.CurrentForumThread.Id.ToString()",
                    success: function (html) {
                        // Update the page with the HTML of the partial view.
                        $("#createNewForumPost").html(html);
                    }
                });
                document.getElementById('createNewForumPostButton').hidden = true;
            });
        });
    </script>
    
}
