@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@model ForumThread
@{
    ViewData["Title"] = "Delete Thread";
}

<h1 class="h2 fw-normal">Delete Thread</h1>

<dl class="row">
    <dt class="col-sm-2">Thread</dt>
    <dd class="col-sm-10">@Model.Title</dd>
        
    <dt class="col-sm-2">Created By</dt>
    <dd class="col-sm-10">@UserManager.FindByIdAsync(Model.CreatorId).Result.DisplayName</dd>
        
    <dt class="col-sm-2">Category</dt>
    <dd class="col-sm-10">@Model.Category!.Name</dd>
        
    <dt class="col-sm-2">Created At</dt>
    <dd class="col-sm-10">@Model.CreatedAt.ToString("g")</dd>
    
    <div class="d-flex gap-2">
        @* Hard delete only visible to Admins and Mods *@
        @if (User.IsInRole("Administrator") || User.IsInRole("Moderator"))
        {
            <form asp-controller="ForumThread" asp-action="PermaDeleteSelectedForumThreadConfirmed" asp-route-forumThreadId="@Model.Id.ToString()" method="post">
                <button type="submit" class="btn btn-sm btn-danger">Delete Permanently</button>
            </form>
        }
        <form asp-controller="ForumThread" asp-action="SoftDeleteSelectedForumThreadConfirmed" asp-route-forumThreadId="@Model.Id.ToString()" method="post">
            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
        </form>
        <a asp-controller="ForumPost" asp-action="ForumPostView" asp-route-forumThreadId="@Model.Id.ToString()" class="btn btn-sm btn-dark">Cancel</a>
    </div>
</dl>