@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@model ForumThread
@{
    ViewData["Title"] = "Undelete Thread";
}

<h1 class="h2 fw-normal">@ViewData["Title"]</h1>

<dl class="row">
    <dt class="col-sm-2">Thread</dt>
    <dd class="col-sm-10">@Model.Title</dd>
        
    <dt class="col-sm-2">Creator by</dt>
    <dd class="col-sm-10">@UserManager.FindByIdAsync(Model.CreatorId).Result.DisplayName</dd>
        
    <dt class="col-sm-2">Category</dt>
    <dd class="col-sm-10">@Model.Category?.Name</dd>
        
    <dt class="col-sm-2">Created on</dt>
    <dd class="col-sm-10">@Model.CreatedAt.ToString("g")</dd>
    
    <div class="d-flex gap-2">
        <form asp-controller="ForumThread" asp-action="UnSoftDeleteSelectedForumThreadConfirmed" asp-route-forumThreadId="@Model.Id.ToString()" method="post">
            <button type="submit" class="btn btn-sm btn-danger">Undelete Thread</button>
        </form>
        <a asp-controller="ForumThread" asp-action="ForumThreadOfCategoryTable" asp-route-forumCategoryId="@Model.CategoryId.ToString()" class="btn btn-sm btn-dark">Cancel</a>
    </div>
</dl>