@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

@model SearchResultViewModel

@{
    ViewData["Title"] = "Search";
}

<h1>Search Posts</h1>

<div>
    <form class="d-flex" asp-controller="Search" asp-action="Posts" method="get">
        <input type="text" class="form-control me-2" id="query" name="query" placeholder="Search" value="@Model.Query" required="required">
        <button type="submit" class="btn btn-outline-success">Search</button>
    </form>
    <a class="btn btn-sm btn-outline-primary d-block mt-2" asp-controller="Search" asp-action="Index" asp-route-query="@Model.Query">General Search</a>
</div>

@if (Model.Query != null)
{
    <hr class="my-4" />
    @if (Model.Posts == null || !Model.Posts.Any())
    {
        <p>No posts matching the search query.</p>
    }
    else
    {
        <ul class="list-group mb-2">
            @foreach (var post in Model.Posts)
            {
                var user = @UserManager.FindByIdAsync(post.ForumPostCreatorId).Result;
                <li class="list-group-item">
                    <div class="d-flex">
                        <img src="@user.AvatarUrl" alt="@user.DisplayName" height="48" width="48" class="me-2" />
                        <div>
                            <div class="d-block">
                                <a href="#">@post.ForumThread!.ForumThreadTitle</a>
                            </div>
                            <div class="d-block" style="font-size: 14px;">
                                @if (post.ForumPostContent.Length >= 20)
                                {
                                    @post.ForumPostContent.Substring(0, 20)
                                }
                                else
                                {
                                    @post.ForumPostContent
                                }
                            </div>
                            <div class="d-block" style="font-size: 12px;">
                                <span>
                                    By <a class="text-muted" asp-controller="Profile" asp-action="Index" asp-route-displayName="@user.DisplayName">@user.DisplayName</a>
                                </span>
                                <span class="text-muted">
                                    on @post.ForumPostCreationTimeUnix.ToString("D")
                                </span>
                            </div>
                        </div>
                    </div>
                </li>
            }
        </ul>
        <nav>
            <ul class="pagination pagination-sm justify-content-center">
                @if (Model.CurrentPage != 1)
                {
                    <li class="page-item">
                        <a asp-controller="Search" asp-action="Posts" asp-route-query="@Model.Query" asp-route-page="@(Model.CurrentPage - 1)" class="page-link">Previous</a>
                    </li>
                }
                else
                {
                    <li class="page-item disabled">
                        <a class="page-link">Previous</a>
                    </li>
                }
                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    if (i == Model.CurrentPage)
                    {
                        <li class="page-item active"><a class="page-link">@i.ToString()</a></li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a asp-controller="Search" asp-action="Posts" asp-route-query="@Model.Query" asp-route-page="@i" class="page-link">@i.ToString()</a>
                        </li>
                    }
                }
                @if (Model.CurrentPage != Model.TotalPages)
                {
                    <li class="page-item">
                        <a asp-controller="Search" asp-action="Posts" asp-route-query="@Model.Query" asp-route-page="@(Model.CurrentPage + 1)" class="page-link">Next</a>
                    </li>
                }
                else
                {
                    <li class="page-item disabled">
                        <a class="page-link">Next</a>
                    </li>
                }
            </ul>
        </nav>
    }
}