@{
    ViewData["Title"] = @Model.User.DisplayName;
}

@model ProfileViewModel

<div>
    <div class="row">
        <div class="col-md-3 mb-2 mb-md-0">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <img class="img-thumbnail rounded" height="128" width="128" src="@Model.User.AvatarUrl" alt="@Model.User.DisplayName"/>
                        <div>
                            <h1 class="fw-bold fs-6">@Model.User.DisplayName</h1>
                        </div>
                        @if (Model.Roles != null)
                        {
                            @foreach (var role in Model.Roles)
                            {
                                <div class="badge" style="background: @role.Color;">@role.Name</div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <h2>Latest Activity</h2>
            @if (Model.Threads == null && Model.Posts == null)
            {
                <p>@Model.User.DisplayName has no activity</p>
            }
            else
            {
                @if (Model.Threads != null)
                {
                    <h3>Threads</h3>
                    <ul>
                        @foreach(var thread in Model.Threads)
                        {
                            <li>
                                <a>@thread.ForumThreadTitle</a>
                                <span class="badge bg-secondary">@thread.ForumPosts?.Count.ToString()</span>
                            </li>
                        }
                    </ul>
                }
                if (Model.Posts != null)
                {
                    <h3>Posts</h3>
                    <ul>
                        @foreach (var post in Model.Posts)
                        {
                            <li>
                                <a>@post.ForumThread?.ForumThreadTitle</a>
                            </li>
                        }
                    </ul>
                }
            }
        </div>
    </div>
</div>