@model ApplicationUser

<div class="col">
    <div>
        <img src="@Model.AvatarUrl" class="card-img-top" alt="@Model.DisplayName">
        <div>
            <div class="d-flex justify-content-between mt-2">
                <h5 class="text-start">
                            
                    <a asp-controller="Account"
                       asp-action="Details"
                       asp-route-accountId="@Model.Id">@Model.DisplayName</a>
                </h5>
                <h5 class="text-nowrap">
                    Password: @Model.PasswordHash
                </h5>
            </div>
        </div>
    </div>
</div>