@using Forum2.DAL
@using Microsoft.AspNetCore.Identity
@model IEnumerable<ApplicationUser>

@inject UserManager<ApplicationUser> UserManager

<div class="container">
    <table class='table table-striped'>
        <tr>
            <th>Name</th>
            <th>Role</th>
            <th>Avatar</th>
        </tr>
        
        @foreach (var account in Model)
        {
            <tr>
                <td>                            
                    <a asp-controller="Account"
                       asp-action="Details"
                       asp-route-accountId="@account.Id">@account.DisplayName</a>
                </td>
                <td>
                    @string.Join(", ", UserManager.GetRolesAsync(account).Result)
                    
                </td>
                <td>
                    <img src="@account.AvatarUrl" width="100px" height="100px">
                </td>
            </tr>
        }
    </table>
    <div>
        <h2>Currently logged in user</h2>
        @if (UserManager.GetUserAsync(User).Result != null)
        {
            @UserManager.GetUserAsync(User).Result.DisplayName
            <img src="@UserManager.GetUserAsync(User).Result.AvatarUrl" width="100px" height="100px">
        }
        else
        {
            <p>Not logged in</p>
        }

        
    </div>
</div>