@using Forum2.DAL
@using Microsoft.AspNetCore.Identity

@model ForumPost

@inject UserManager<ApplicationUser> UserManager


<h1>This is a new post</h1>
<div>@Model.ForumPostContent</div>
<div>Creator ID: @Model.ForumPostCreatorId</div>

Name of post creator: @UserManager.FindByIdAsync(@Model.ForumPostCreatorId).Result.DisplayName
Avatar: <img src="@UserManager.FindByIdAsync(@Model.ForumPostCreatorId).Result.AvatarUrl" width="100px" height="100px">