@model Forum2.ViewModels.ForumListViewModel

@* DEPRECATED *@

<div class="container">
    <table class="table table-striped">
        <tr>
            <th>Category ID</th>
            <th>Category Name</th>
            <th>Thread ID</th>
            <th>Thread title</th>
            <th>OP Name</th>
        </tr>
        
        @foreach (var forumThread in Model.ForumThreads)
        {
            <tr>@{ var categoryId = @forumThread.CategoryId;}
                <td>@forumThread.CategoryId</td>
                <td>
                    @foreach (var forumCategory in Model.ForumCategories)
                    {
                        if (categoryId == forumCategory.Id)
                        {
                            @forumCategory.Name
                        }
                    }
                </td>
                <td>@forumThread.Id</td>
                <td><a asp-controller="ForumPost"
                       asp-action="ForumPostView"
                       asp-route-threadId="@forumThread.Id">@forumThread.Title</a>
                </td>
                <td>@foreach (var account in Model.Accounts)
                    {
                        if (forumThread.CreatorId == account.Id)
                        {
                            @account.DisplayName
                        }
                    }</td>
            </tr>
        }
    </table>
</div>