@using Microsoft.AspNetCore.Identity
@model Forum2.ViewModels.ForumThreadOfCategoryViewModel
@inject UserManager<ApplicationUser> UserManager

<div class="container">
    <table class="table table-striped">
        <tr>
            <th>Category ID</th>
            <th>Category Name</th>
            <th>Thread ID</th>
            <th>Thread title</th>
            <th>OP Name</th>
            <th>Last edited</th>
            @* <th>Actions</th> *@
        </tr>
        
        @foreach (var forumThread in Model.ForumThreads)
        {
            if (forumThread.IsSoftDeleted != true)
            {
                <tr>@{ var categoryId = @forumThread.CategoryId;}
                    <td>@forumThread.CategoryId</td>
                    <td>@Model.ForumCategory.Name</td>
                    <td>@forumThread.Id</td>
                    <td><a asp-controller="ForumPost"
                           asp-action="ForumPostView"
                           asp-route-forumThreadId="@forumThread.Id">@forumThread.Title</a>
                    </td>
                    <td>@foreach (var account in Model.Accounts)
                        {
                            <div class="row">
                                @{
                                    if (forumThread.CreatorId == account.Id)
                                    {
                                        <a asp-controller="Profile"
                                           asp-action="Index"
                                           asp-route-displayName="@UserManager.FindByIdAsync(forumThread.CreatorId).Result.DisplayName">
                                            <img src="~/avatars/@account.Avatar" width="100px" height="100px">
                                        </a>
                                        <a asp-controller="Profile"
                                           asp-action="Index"
                                           asp-route-displayName="@UserManager.FindByIdAsync(forumThread.CreatorId).Result.DisplayName">
                                            @account.DisplayName
                                        </a>
                                    }
                                }
                            </div>

                        }
                    </td>
                    <td>
                        @if (forumThread.EditedAt > forumThread.CreatedAt)
                        {
                                <p>Last edited by: @UserManager.FindByIdAsync(forumThread.EditedBy).Result.DisplayName</p>
                                <p>At: @forumThread.EditedAt</p>
                        }
                    </td>
                    @* <td> *@
                    @*     @if (UserManager.GetUserAsync(User).Result != null) *@
                    @*     { *@
                    @*         @if (User.IsInRole("Administrator") || (User.IsInRole("Moderator") || UserManager.GetUserAsync(User).Result.Id == forumThread.ForumThreadCreatorId)) *@
                    @*         { *@
                    @*             <a asp-controller="ForumThread" asp-action="DeleteSelectedForumThread" asp-route-forumThreadId="@forumThread.ForumThreadId">DELETE</a> *@
                    @*             <a asp-controller="ForumThread" asp-action="UpdateForumThreadTitle" asp-route-forumThreadId="@forumThread.ForumThreadId">EDIT</a> *@
                    @*         }  *@
                    @*     } *@
                    @* </td> *@
                </tr>
            }
        }
    </table>
</div>