@using Forum2.DAL
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@model ForumPost

@inject UserManager<ApplicationUser> UserManager

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
function checkIfInputVisible()
{
    if (!document.getElementById("createNewForumPost").innerHTML )
    {
        console.log("Value " + document.getElementById("createNewForumPost").value)
        console.log("New post box");
        $.ajax({
            url: "/ForumPost/Create/@Model.ForumThreadId",
            success: function (html) {
                // Update the page with the HTML of the partial view.
                $("#createNewForumPost").html(html);
            }
        });
    }
}

function quotePostContent()
{
    let result = "";
    let postContent = document.getElementById("postContent_@Model.ForumPostId").value;
    // console.log(postContent);

    let inputField = document.getElementById("inputNewPostContent").value;
    // console.log("inputFieldValue: " + inputField);

    result += inputField;

    // console.log("@UserManager.FindByIdAsync(Model.ForumPostCreatorId).Result.DisplayName");
    result += "Quoted from post by " + "@UserManager.FindByIdAsync(Model.ForumPostCreatorId).Result.DisplayName";


    result += ' "@Model.ForumPostContent"';
    // console.log("Result: " + result);

    document.getElementById("inputNewPostContent").value = result;
}
    
function quotePost()
{
    checkIfInputVisible();
    quotePostContent();
    document.getElementById('createNewForumPostButton').hidden = true;
}
</script>

<script>
$("#quoteThisPost_@Model.ForumPostId").click(quotePost);
</script>

<div class="container">
    <div class="row">
        <div class="col-md-3 mb-2 mb-md-0">
            <partial name="_Profile" model="UserManager.FindByIdAsync(Model.ForumPostCreatorId).Result"/>
        </div>
        
        <div class="col-md-9" id="postContent_@Model.ForumPostId">
            <div class="card">@Model.ForumPostContent</div>
            <div class="card">
                @if (SignInManager.IsSignedIn(User))
                {
                    @if (User.IsInRole("Administrator") || User.IsInRole("Moderator") || UserManager.GetUserAsync(User).Result.Id == Model.ForumPostCreatorId)
                    {
                        <a class="btn btn-secondary" asp-controller="ForumPost" asp-action="UpdateForumPostContent" asp-route-forumPostId="@Model.ForumPostId">EDIT</a>
                        <a class="btn btn-danger" asp-controller="ForumPost" asp-action="DeleteSelectedForumPost" asp-route-forumPostId="@Model.ForumPostId">DELETE</a>
                    }
                }
            </div>
            <div>
                @if (Model.ForumPostLastEditedTime > Model.ForumPostCreationTimeUnix)
                {
                    <div>
                        <p>Last edited by: @UserManager.FindByIdAsync(Model.ForumPostLastEditedBy).Result.DisplayName</p>
                        <p>At: @Model.ForumPostLastEditedTime</p>
                    </div>
                }
            </div>
            <div>
                <button id="quoteThisPost_@Model.ForumPostId">Quote</button>
            </div>
        </div>
        


        

    </div>
</div>

