@using Microsoft.AspNetCore.Identity
@inject RoleManager<ApplicationRole> RoleManager
@inject UserManager<ApplicationUser> UserManager

@model ApplicationUser

@{
    var user = UserManager.FindByIdAsync(Model.Id).Result;
    var roles = UserManager.GetRolesAsync(user).Result;
}

<div class="card">
    <div class="card-body">
        <div class="text-center d-flex d-md-block align-items-center">
            <a asp-controller="Profile"
               asp-action="Index"
               asp-route-displayName="@Model.DisplayName">
                <img class="rounded d-none d-lg-block mx-auto" height="128" width="128" src="~/avatars/@Model.Avatar" alt="@Model.DisplayName"/>
                <img class="rounded d-block d-lg-none me-3" height="32" width="32" src="~/avatars/@Model.Avatar" alt="@Model.DisplayName"/>
            </a>
            <div>
                <a asp-controller="Profile" asp-action="Index" asp-route-displayName="@Model.DisplayName" class="link-dark text-decoration-none">
                    <div class="fw-bold fs-6">@Model.DisplayName</div>
                </a>
            
                @if (roles.Count > 0) {
                    var role = RoleManager.FindByNameAsync(roles[0]).Result;
                    <a asp-controller="Role" asp-action="Members" asp-route-roleName="@role.Name">
                        <div class="badge" style="background: @role.Color;">@role.Name</div>
                    </a>
                } 
                else
                {
                    <div class="badge bg-dark">Member</div>
                }
            </div>
        </div>
    </div>
    <div class="card-footer py-1 py-md-2">
        <div class="d-flex gap-2 justify-content-md-between" style="font-size:14px;">
            <span>Joined</span>
            <span>@Model.CreatedAt.ToString("d")</span>
        </div>
    </div>
</div>
