@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@model ApplicationRole
@{
    ViewData["Title"] = $"Members of {Model.Name}";
    var users = UserManager.GetUsersInRoleAsync(Model.Name).Result;
}

<div class="d-flex align-items-center justify-content-between">
    <h1 class="h2 fw-normal">@ViewData["Title"]</h1>
    <a class="btn btn-sm btn-dark" asp-controller="Role" asp-action="List">Role List</a>
</div>

<ul class="list-group list-group-flush">
    @foreach (var user in users)
    {
        <li class="list-group-item px-0">
            <div class="d-flex align-items-center gap-2">
                <a asp-controller="Profile" asp-action="Index" asp-route-displayName="@user.DisplayName">
                    <img src="~/avatars/@user.Avatar" alt="@user.DisplayName" height="32" width="32" class="rounded"/>
                </a>
                <div>
                    <div>

                        <a class="link-dark text-decoration-none" asp-controller="Profile" asp-action="Index" asp-route-displayName="@user.DisplayName">
                            @user.DisplayName
                        </a>
                    </div>
                    <div style="font-size: 14px;">
                        Joined @user.CreatedAt.ToString("d")
                    </div>
                </div>
            </div>
        </li>
    }
</ul>